*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
.App{
    text-align: center;
    background: #121212;
    width: 100%;
    height: 100vh;
    color: #fff;
}
.header{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3rem solid rgb(228, 215, 215);
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    background: #b49f39;
}
.logo{
    font-size: 3.2rem;
    padding: 0 1.6rem;
    text-align: left;
    font-weight: 600;
}
.rules{
    font-size: 2.2rem;
    padding: 1rem 2rem;
    text-align: right;
    font-weight: 700;
    cursor: pointer;
}
.rulesList{
    width: 25vw;
    background: gray;
    margin-top: 1.3rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    line-height: 1.6;
    font-weight: 100;
    text-align: justify;
    z-index: 100;
}
.rulesList li{
    list-style-type: none;
}
.game{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.board{
    width: 25rem;
    height: 80rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
}
.board .row{
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 0.1rem;
}
.letter {
    flex: 33%;
    height: 85%;
    border: 0.1rem solid grey;
    margin: 0.3rem;
    padding: 0 0.7rem;
    display: grid;
    place-items: center;
    font-size: 1.9rem;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#correct {
    background-color: #528d4e;
}
#almost {
    background-color: #b49f39;
}  
#error {
    background-color: #3a393c;
}
.keyboard{
    width: 93%;
    height: 25%;
    margin-top: 3rem;
}
.keyboard .line1,.keyboard .line2,.keyboard .line3{
    flex: 33%;
    display: flex;
    justify-content: center;
    margin: 0.2rem;
}
.key{
    width: 3rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    background: gray;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#big{
    width: 8rem;
}
#disabled{
    background: #3a393c;
}
.gameOver{
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.6;
}